@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.046 192.524);
  --color-base-200: oklch(38% 0.063 188.416);
  --color-base-300: oklch(43% 0.078 188.216);
  --color-base-content: oklch(95% 0.051 180.801);
  --color-primary: oklch(76% 0.188 70.08);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(69% 0.17 162.48);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(68% 0.169 237.323);
  --color-accent-content: oklch(97% 0.013 236.62);
  --color-neutral: oklch(60% 0.118 184.704);
  --color-neutral-content: oklch(98% 0.014 180.72);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
